img {
  width: 500px;
  border: black 4px dotted;
  border radius: 50%
}
img{
  hover
}

body{
  background-color: wheat;
  display: flex;
  justify-content: center;
}
    nav ul {
      list-style-type: none;  
      margin: 0;
      padding: 0;
      display: flex;         
      justify-content: center; 
      background-color: #f1f1f1; 
    }

    nav li {
      margin: 0 15px;        
    }

    nav a {
      text-decoration: none;  
      color: #333;           
      font-size: 18px;
      padding: 10px;
      display: block;
    }

    nav a:hover {
      color: #007bff;        
    }
